<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome </title>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta charset='utf-8' />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache,must-revalidate" />
  <meta http-equiv="Expires" content="0" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://172.24.186.245/jslib/bootstrap/bootstrap3.0.3/dist/css/bootstrap-theme.min.css">
  <!--[if lt IE 9]>
    <script src="//172.24.186.245/jslib/bootstrap/bootstrap3.0.3/assets/js/html5shiv.js"></script>
    <script src="//172.24.186.245/jslib/bootstrap/bootstrap3.0.3/assets/js/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/css/doc.css">
  <title>Help</title>
</head>
<body>
  <div class="bs-docs-header" id="header">
      <div class="container">
        <h1>Daily Report</h1>
        <p>A Quick, Easy, Convenient and Advanced report system.</p>
        </div>
    </div>
  <section>
    <h1 class="page-header">Login</h1>
    <p class="lead"> The system may automatically get your account without any of your input </p>
    <h3> If you have a <em>Tools Account</em> </h3>
    <p>If you ever use any tool of <em>Tools Team</em> (like Patch System), you may remebered by tools SSO service and login this system automatically without your account and paasword. </p>
    <h3>If not</h3>
    <p>System will lead you to SSO system to sign up/in and Tools server will remeber in future, that means you need NOT sign in again to use any tool powered by <em>Tools Team</em>.</p>


    <h1 class="page-header">Create Report</h1>
    <p class="lead"> We provide some different way for you to create your report</p>
    <h3>Create by default template</h3>
    <p>After you click 'Create a Daily Report using default template', system will automatically create a default template for you to edit. Also, system will guess all of your related platform from <em>Episode API</em> and prepare them in the report editor. This is convenient for the user who using this system first time.</p>
    <h3>Create by last report</h3>
    <p>After you click 'Create a Daily Report using last report', system will automatically get your last report, and create a new report with same content prepared of the last report (expect the date). This is convenient for the user who already used this system before.</p>

    <h1 class="page-header">Safe Mailer</h1>
    <p class="lead">Mail content will never lost when using this system</p>
    <h3>Send mail failed</h3>
    <p>When finish your report, after click 'Send', unfortuantly you recieve a alert with message 'send failed'. You may have to leave the page but you must don't want to lost your mail content you already type. Don't worry, the system will remember all your input when 'send failed' occured. </p>
    <p>Just refresh the page or enter the editor page again, system will ask you 'find a unsent mail, open it or delete it?'. You can choose 'open', 'delete' or 'ask me later', ensure all of your input are safe.</p>
  </section>
</body>
</html>
